<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Home</title>
</head>
<body>

    <nav>
        <ul><a href="/">Home</a></ul>
        <ul><a href="/about">About</a></ul>
        <ul><a href="/tasks">Tasks</a></ul>
    </nav>

    <h2>About page</h2>

    <p>This is about page!</p>

    {{ with (index .StringMap "author") }}
        <p>Author of the Home page: {{ . }}</p>
    {{ else }}
        <p>Go to <a href="/">Home</a> and then return to get the author of this page.</p>
    {{ end }}
</body>
</html>