<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Home</title>
</head>
<body>

<nav>
    <ul><a href="/">Home</a></ul>
    <ul><a href="/about">About</a></ul>
    <ul><a href="/tasks">Tasks</a></ul>
</nav>

<form action="/tasks" method="post">
    <input type="hidden" name="csrf_token" value="{{ .CSRFToken }}">

    <input type="text" name="task">

    <input type="submit" value="Add Task">

    {{ with (index .StringMap "newTask") }}
        <p>{{ . }}</p>
    {{ else }}
        <p>No tasks to be processed</p>
    {{ end }}

    <hr>

    <h3>Tasks</h3>
    {{ $tasks := index .Data "tasks" }}

    {{ with $tasks }}
        <table>
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Task</th>
                </tr>
            </thead>
            <tbody>
                {{ range $tasks }}
                    <tr>
                        <td>{{.ID}}</td>
                        <td>{{.Task}}</td>
                    </tr>
                {{ end }}
            </tbody>
        </table>
    {{ else }}
        <p>No tasks.</p>
    {{ end }}

</form>
</body>
</html>